{% extends "base/base.html" %}

{% block main %}
    <!--//Header-->
    <section class="w3mid-gap"></section>
    <!--/Banner-Start-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title">
                            Products </h2>
                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Products </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
	<div style="margin: 8px auto; display: block; text-align:center;"></div>
    <!--/w3l-ecommerce-main-->
    <section class="w3l-ecommerce-main">
        <!-- /products-->
        <div class="ecom-contenthny w3l-ecommerce-main-inn py-5">
            <div class="container py-lg-5">
                <div class="ecommerce-grids row">
                    <div class="ecommerce-left-hny col-lg-4">
                        <!--/ecommerce-left-hny-->
                        <aside class="pe-lg-4">
                            <div class="sider-bar">
                                <!-- /Gallery-imgs -->

                                <div class="single-gd mb-5">
                                    <h4>Product Categories</h4>
                                    <ul class="list-group single">
                                        {% for category in category %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{category.name}}
                                            <span class="badge badge-primary badge-pill">{{ category.products.all|length }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="single-gd mb-5">
                                </div>

                                <div class="single-gd mb-5">
                                </div>

                                <div class="single-gd left-side mb-5">
                                </div>

                                <div class="single-gd mb-5 border-0">
                                    <h4>Recent Products</h4>
                                    <div class="row special-sec1 mt-4">
                                        <div class="col-4 img-deals">
                                            <a href="product-single.html"><img src="assets/images/shop-8.jpg" class="img-fluid radius-image" alt=""></a>
                                        </div>
                                        <div class="col-8 img-deal1">
                                            <h5 class="post-title">
                                                <a href="product-single.html">Blue Sweater</a>
                                            </h5>

                                            <a href="product-single.html" class="price-right">$499.00</a>
                                        </div>

                                    </div>
                                    <div class="row special-sec1 mt-4">
                                        <div class="col-4 img-deals">
                                            <a href="product-single.html"><img src="assets/images/shop-7.jpg" class="img-fluid radius-image" alt=""></a>
                                        </div>
                                        <div class="col-8 img-deal1">
                                            <h5 class="post-title">
                                                <a href="product-single.html">White T-Shirt</a>
                                            </h5>
                                            <a href="product-single.html" class="price-right">$575.00</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </aside>
                        <!--//ecommerce-left-hny-->
                    </div>
                    <!-- /row-->
                    <div class="ecommerce-right-hny col-lg-8">
                        <div class="row ecomhny-topbar">
                            <div class="col-6 ecomhny-result">
                                <h4 class="ecomhny-result-count"> Showing all {{ products|length }} Results</h4>
                            </div>
                            <div class="col-6 ecomhny-topbar-ordering">

                                <div class="ecom-ordering-select d-flex">
                                    <span class="fa fa-angle-down" aria-hidden="true"></span>
                                    <select>
                                        <option value="menu_order" selected="selected">Default Sorting</option>
                                        <option value="popularity">Sort by Popularity</option>
                                        <option value="rating">Sort by Average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by Price: low to high</option>
                                        <option value="price-desc">Sort by Price: high to low</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="ecom-products-grids row">
                            {% for product in products %}
                            <div class="col-lg-4 col-6 product-incfhny mt-4">
                                <div class="product-grid2 shopv">
                                    <div class="product-image2">
                                        <a href="{% url "product" product.slug %}">
                                            <img class="pic-1 img-fluid radius-image" src="{{ product.product_images.first.image.url }}">
                                            <img class="pic-2 img-fluid radius-image" src="{{ product.product_images.first.image.url }}">
                                        </a>
                                        <ul class="social">
                                            <li><a href="{% url "cartAdd" product.uid %}" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                            </li>
                                        </ul>
                                        <div class="shopv single-item">
                                                <a href="{% url "cartAdd" product.uid %}" class="shopv-cart pshopv-cart add-to-cart">
                                                    Add to Cart
                                                </a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"><a href="product-single.html">Checkered Casual Shirt </a></h3>
                                        <span class="price"><del>$975.00</del>$899.99</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //products-->
	<div style="margin: 8px auto; display: block; text-align:center;"></div>
    {% endblock %}

    {% block extJS %}
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[ 
        $(window).load(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function(event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>

    </script>
    <!-- //price range (top products) -->
    {% endblock %}
